@import "tailwindcss";

button {
  cursor: pointer;
}

@theme {
  --color-primary: #18181b;
  --color-secondary: #71717a;
  --color-accent: #fafafa;

  --container-content: 64rem;

  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;
}
